body {background-color: rgb(185, 234, 237);}

h1 {
    font-size: 50px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.navbar ul li{
    display: inline-block;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    display: block;
    text-align: center;
    font-size: 20px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li:hover .dropdown{
    display: block;
}
.navbar .user{
    float: right;
}
.dropdown li{
    width: 100%;
    display: block;
}
.dropdown{
    width: 100%;
    display: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    z-index: 999;
    overflow: hidden;
    position: absolute;
}


h2 {
    font-size: 30px;
    text-align: center;
}

button{
    background-color: #4CAF50; /* Green background */
    border: none; /* No borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Line-block display */
    font-size: 16px; /* Larger text size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer cursor on hover */
}

input {
    background-color: #ffffff; /* Green background */
    border: none; /* No borders */
    color: black; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Line-block display */
    font-size: 16px; /* Larger text size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer cursor on hover */
}


  table {
    width: 100%; /* Makes the table stretch to the width of its container */
    border-collapse: collapse; /* Collapses the border to appear as single line */
}

table, th, td {
    border: 1px solid black; /* Adds border to table, th, and td */
}

th, td {
    padding: 10px; /* Adds padding inside each th and td for spacing */
    text-align: left; /* Aligns text to the left */
}

td {
    font-size: 20px; /* Increases font size inside td */
}
