<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>
        Hello <span class="user-name" id="user">{{ user.FirstName }}</span>! 
    </h1>
    <h2>Orders:</h2>
    <h2>
        <a href="/account/settings">Settings</a>
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>
    </h2>
</body>
</html>
