<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Buy Stuff Here</h1>
<button>Shoes : $100</button>
<button>Shirt : $20</button>
<button>Hat : $40</button>

<h2>Deposit to your account here.</h2>

<a href="/add_balance_to_user" class="button">Add 50 to Jordan's Balance</a>

<!-- If logged in, user is displayed, else login is displayed -->
{% if not currUser %}
<a href="/login" class="button-link">Sign into your account</a>
{% else %}
<h3>Signed in as: 
    <span type="text" id="user"> 
        {{ currUser['FirstName'] }}
    </span><br>
    <a href="/logout">Logout</a>
</h3>
{% endif %}

