<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Add Funds to Your Account</h1>

<form action="{{ url_for('update_balance') }}" method="post">
    <button name="amount" type="submit" value="100" onclick="alert('Depositing $100 to your account.');">Deposit $100</button>
    <button name="amount" type="submit" value="250" onclick="alert('Depositing $100 to your account.');">Deposit $250</button>
    <button name="amount" type="submit" value="500" onclick="alert('Depositing $100 to your account.');">Deposit $500</button>
    <button name="amount" type="submit" value="1000" onclick="alert('Depositing $100 to your account.');">Deposit $1000</button>
</form>


</html>