<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>DB665 DB Project</h1>
<h2>Sign into your account</h2>


<button type="button" onclick="alert('Logged in as Alex Diaz!')">Alex Diaz</button>
<button type="button" onclick="alert('Logged in as Jordan Trotter!')">Jordan Trotter</button>
<button type="button" onclick="alert('Logged in as Barack Obama!')">Barack Obama</button>

<h3>Signed in as: </h3>

<h1>Buy Menu</h1>
<input type="button" value="Jordans">
<input type="button" value="Shirt">
<input type="button" value="Golf Shoes">


<a href="/about">About</a>