<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='loginscript.js') }}"></script>
    </head>

    <body>
        <h1>DB665 DB Project</h1>

        {% if not currUser %}
        <a href="/login">Login</a>
        <a href="/create_account">Create Account</a>
        {% else %}
        <h3>Signed in as: 
            <span type="text" id="user"> 
                {{ currUser['FirstName'] }}
            </span><br>
            <a href="/logout">Logout</a>
            <a href="/account">Account</a>
        </h3>
        {% endif %}
        
        <h1>Buy Menu</h1>
        <div>
            <span>
                <a href="/add_item">Add Items</a>
                {% for item in items %}
                <button type="button" class="item-button" id="{{ item.ItemID }}">
                {{ item.Name }}
                </button>
                {% endfor %}        
            </span>
        </div>
        <div>
             <h3>Item: 
                <span class="item-selected" id="name" >{{ name }}</span>
            </h3>
        </div>
        <div>
            Quantity: <span type="text" id="quantity">{{ quantity }}</span><br>
            Price: <span type="text" id="price">{{ price }}</span>
        </div>
        <h2>Users List</h2>
        <table border="1">
            <tr>
                <th>UserID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Balance</th>
                <th>Address</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.UserID }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.Balance }}</td>
                <td>{{ user.Address }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

<a href="/about">About</a>